.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .logo {
      width: 3rem;
      height: 3rem;
      margin-bottom: 0.5rem;
    }

    .title {
      margin: 0;
      font-weight: 600;
      font-size: 1.5rem;
    }
  }
}
